body {
    font-family: "Poppins", sans-serif;
}

/* CABEÇALHO */

header {
text-align: center;
padding: 15px;
font-weight: 600;
background: #ffffff;
box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

/* MAIN - PARTE PRINCIPAL */

main {
margin: 0 70px;
}

/* FILTROS */

.filtersContainer {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 0;
}

#botoesContainer {
display: flex;
}

.estiloGeralBotoes {
border: 1.5px solid rgba(18, 184, 134, 0.05);
background: rgba(18, 184, 134, 0.05);
border-radius: 8px;
padding: 10px 20px;
cursor: pointer;
font-weight: 500;
color: #12b886;
font-size: 0.9rem;
margin-right: 10px;
}

.estiloGeralBotoes--filter:hover {
background-color: #12b886;
color: #ffffff;
transition: ease-in-out 0.2s;
}

.botoesClickStyle {
background-color: #12b886;
color: #ffffff;
}

.containerBuscaPorNome {
display: flex;
justify-content: space-between;
}

.campoBuscaPorNome {
border: none;
padding: 0 10px;
background: #f1f3f5;
border-radius: 8px;
margin-right: 5px;
width: 250px;
color: #515252;
font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;
background: #12b886;
border: 1.5px solid #12b886;
border-radius: 8px;
}

/* VALOR TOTAL */

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px;
}

.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

/*CONTAINER VITRINE*/

.containerVitrine {
display: flex;
width: 100%;
justify-content: space-between;
}

/* CONTAINER DE PRODUTOS */

.containerListaProdutos {
width: 80%;
}

.containerListaProdutos ul {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content:space-around;
margin-top: 40px;
width: 100%;
}

.containerListaProdutos ul li {
border-radius: 8px;
transition: ease-in-out 0.1s;
width: calc(95% / 4);
margin-bottom: 30px;
}

.containerListaProdutos ul li:hover {
box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
width: 100%;
}

.containerListaProdutos ul li h3 {
font-size: 1rem;
font-weight: 500;
margin: 10px 0 15px;
color: #212529;
}

.containerListaProdutos ul li p {
font-size: 0.7rem;
color: black;
font-weight: bold;
margin: 10px 0;
font-size: 13px;
}
.containerListaProdutos ul li span {
font-size: 0.8rem;
margin: 10px auto;
display: inline-block;
color:  #868e96;
}
.containerListaProdutos ul li ol {
list-style: decimal;
color: #868e96;
font-size: 12px;
margin-left: 15px;
}
.containerListaProdutos ul li ol li {
margin: 5px auto;
width: 100%;
}
.containerListaProdutos ul li button {
background-color: #12b8860d;
border-radius: 8px;
border: #12b8860d 1px solid;
color: #12b886;
padding: 5px;
transition: 0.5s;
}
.containerListaProdutos ul li button:hover {
background-color: #12b886;
border: #12b886 1px solid;
color: white;
}
.containerListaProdutos ul li div {
display: flex;
justify-content: space-between;
padding: 5px;
}

#botaoComprar {
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.containerCarrinho{
    width: 18%;
    height: 32rem;
    margin-top: 40px;
}

.containerTituloImg{
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: auto;
    height: 56px;
    background-color:  #12b886;
    align-items:center
}

.containerTituloImg img{
    width: 14px;
    height: 14px;
    margin: 10px;
}

.containerTituloImg h1{
    color: white;
    font-size: 16px;
}

.carrinho{
    height: 80%;
    overflow-x: auto;
}

.quantidadeETotal div{
    display: flex;
    justify-content: space-between;
    padding: 22px 13px;
    font-weight: 500;
    font-size: 14px;
}

.quantidadeETotal > div:first-child {
    background-color: #F8F9FA
}

.containerImgInf{
    display: flex;
    justify-content: flex-start;
}

.carrinho li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.30rem;
    margin: 1rem auto;
}

.carrinho img {
    width: 35%;
    border-radius: 10px;
}

.carrinho button {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 0.6s;
    cursor: pointer;

}

.carrinho button:hover {
    border: 2px solid  #868E96;
    transition: 0.6s;
}

.carrinho button img{
    width: 0.7rem;
    height: 0.8rem;
}



.containerH3SpanP {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5rem;
   
}

.containerH3SpanP h3 {
    font-weight: 500;
}

.containerH3SpanP span {
    font-size: 13px;
    color: #868E96;
}

.adicioneItens{
    font-size: 15px;
    color: #868E96;
    text-align: center;
    margin-top: 7.5rem;
}


@media(max-width:480px){
main {
    margin: 0 1rem;
}

.filtersContainer{
    display: flex;
    flex-direction: column;  
} 

#botoesContainer{
    overflow-x: auto;
    width:  100%;
    margin-bottom: 1rem;
}

.containerBuscaPorNome {
    width: 100%;
}

.containerVitrine {
    display: flex;
    flex-direction: column;
}

.containerListaProdutos{
    width: 100%;
    height: 250px;
}

.containerListaProdutos ul {
    margin-top: auto;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
}

.containerListaProdutos ul li {
    margin: 0 0.5rem;
    margin-bottom: auto;
    min-width: 13.5rem;
}

.containerListaProdutos ul li ol {
    display: none;    
}

.containerListaProdutos ul li img {
    width: 100%;
}

.containerCarrinho{
    width: 100%;
    height: 7rem;
    margin-top: 1rem;
}

.containerTituloImg{
    height: 2.5rem;
    background-color:  #12b886;
    align-items:center
}

.adicioneItens{
    margin: 2rem 1rem auto;
    width: 90%;
    
}

.quantidadeETotal div{
    padding: 0.8rem;
    font-weight: 500;

}

.carrinho li {
    height: 4rem;
}

.carrinho img {
    width: 4rem;
    height: 4rem;
}

.campoBuscaPorNome{
   width: 100%;
}


}
